.header{
    height: 45em;
    background: linear-gradient(
      to right,
      #85cdca 0%,
      #85cdca 33%,
      white 33%,
      white 100%
    );
    text-align: left;
    color: rgba(126, 111, 111) ;
    font-family: 'Noto Sans', sans-serif;
    padding-left: calc(50%);
    padding-top: 13%;
   
  }

  @media screen and (min-width:1007px) and (max-width:1280px ) {
      .header{
        padding-left: calc(60%) !important;
      }
  }

  .header_gap{
    padding-top: 1em;
  }
  
  .header h1 {
    margin: 0; 
  }
  
  .header p{
    font-size: 1.5em;
  }
  
  .header button{
    border: none;
    border-radius: 1vh;
    font-size: 1.5em;
    font-family: sans-serif;
    background-color:#e27d5f;
    color: white;
    padding: 1vh 5vh 1vh 5vh;
  }

  .header a{
    text-decoration: none;
    color: white;
  }

  .header button:hover{
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  }

  .header button:active{
    transform: scale(0.98);
    box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
    /* box-shadow: 3px 2px 22px 1px rgba(0, 0, 0, 0.24); */
  }
  
@media screen and (max-width:1007px) {
    .header{
      background: white;
      padding: 4em 0 0 5em;
      margin: 0;
      height: 25em;
    }
  
}